

#page
{
	z-index: 1;
	width: 700px;
	min-height: 499.64394904458607px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 11px;
	margin-bottom: -248px;
}

#pu75-4
{
	width: 0.01px;
	position: relative;
}

#u75-4
{
	z-index: 2;
	width: 700px;
	min-height: 51px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
}

#u76
{
	z-index: 6;
	width: 453px;
	min-height: 21px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 121px;
}

#ppamphletu131
{
	width: 0.01px;
	padding-bottom: 544px;
	left: -119px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pamphletu131
{
	z-index: 93;
	width: 0.01px;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 632px;
}

#u144
{
	z-index: 94;
	width: 138px;
	position: relative;
	margin-right: -10000px;
}

#u145
{
	position: absolute;
	width: 138px;
	height: 30px;
	border-color: #DEDEDE;
	background-color: #79A717;
	opacity: 0.27;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=27)";
	filter: alpha(opacity=27);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u145:hover
{
	border-color: #999999;
	background-color: #79A717;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	margin: 0px;
}

#u132
{
	position: absolute;
	width: 665px;
	border-style: none;
	border-color: transparent;
	background-color: #474747;
	background-color: rgba(51, 51, 51, 0.9);
	padding-bottom: 44px;
	top: 80px;
	left: -632px;
	-pie-background: rgba(51, 51, 51, 0.9);
}

#u132popup
{
	z-index: 96;
}

#u137
{
	z-index: 97;
	width: 621px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u137_position_content
{
	margin-top: 91px;
}

#u173-4
{
	z-index: 103;
	width: 575px;
	min-height: 42px;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-left: 21px;
	position: relative;
}

#u165
{
	z-index: 102;
	width: 160px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 224px;
	margin-top: 53px;
	position: relative;
}

#u138-4
{
	z-index: 98;
	width: 611px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: #1A1A1A;
	padding-left: 10px;
	padding-top: 10px;
	color: #DEDEDE;
	line-height: 18px;
	font-size: 13px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 128px;
	position: relative;
}

#u148
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 6px;
	top: 73px;
	left: 10px;
}

#u148:hover
{
	background-color: transparent;
	margin: 0px;
}

#u148:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u167
{
	z-index: 108;
	width: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u94
{
	z-index: 7;
	width: 660px;
	position: relative;
	margin-right: -10000px;
	left: 139px;
}

#u78
{
	z-index: 8;
	width: 660px;
	border-color: #000000;
	background-color: #13A0AD;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	-khtml-border-radius: 32px;
	border-radius: 32px;
	position: relative;
	margin-right: -10000px;
}

#u87-6
{
	z-index: 9;
	width: 445px;
	min-height: 157px;
	margin-bottom: -20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 17px;
}

#u87-2
{
	font-size: 19px;
	text-align: justify;
	line-height: 23px;
	color: #FFFFFF;
}

#u93
{
	z-index: 15;
	width: 172px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 472px;
}

#u79
{
	z-index: 16;
	width: 145px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	-khtml-border-radius: 13px;
	border-radius: 13px;
	position: relative;
	margin-right: -10000px;
	left: 5px;
	padding: 3px 8px 10px 9px;
}

#u80-4
{
	z-index: 17;
	width: 145px;
	min-height: 29px;
	color: #13A0AD;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	left: -1px;
	position: relative;
}

#u84
{
	z-index: 30;
	width: 136px;
	margin-left: 6px;
	margin-top: 61px;
	position: relative;
}

#u86
{
	z-index: 31;
	width: 134px;
	border-width: 1px;
	border-style: solid;
	border-color: #898989;
	background-color: #79A717;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u86:hover
{
	background-color: #6B970D;
	width: 134px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u85-4
{
	z-index: 32;
	width: 128px;
	min-height: 29px;
	color: #FFFFFF;
	line-height: 25px;
	text-align: center;
	font-size: 21px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 3px;
}

#u81-4
{
	z-index: 21;
	width: 162px;
	line-height: 44px;
	color: #13A0AD;
	text-align: center;
	font-size: 37px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 5px;
}

#u82
{
	z-index: 25;
	width: 172px;
	border-color: #000000;
	background-color: #13A0AD;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
}

#u83-4
{
	z-index: 26;
	width: 111px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 31px;
}

#u95-4
{
	z-index: 36;
	width: 539px;
	min-height: 28px;
	line-height: 23px;
	color: #626262;
	text-align: center;
	font-size: 19px;
	font-weight: bold;
	margin-left: 84px;
	top: -534px;
	margin-bottom: -28px;
	position: relative;
}

#u122
{
	z-index: 91;
	width: 447px;
	min-height: 21px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 130px;
	top: -509px;
	margin-bottom: -23px;
	position: relative;
}

#ppu101
{
	width: 0.01px;
	margin-left: 20px;
	top: -489px;
	margin-bottom: -179px;
	position: relative;
}

#pu101
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 225px;
}

#u101
{
	z-index: 51;
	width: 210px;
	position: relative;
	margin-right: -10000px;
}

#u105
{
	z-index: 52;
	width: 210px;
	border-color: #000000;
	background-color: #0FBACA;
	padding-bottom: 89px;
	position: relative;
	margin-right: -10000px;
}

#u104-4
{
	z-index: 53;
	width: 210px;
	min-height: 90px;
	line-height: 84px;
	color: #FFFFFF;
	text-align: center;
	font-size: 70px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u106-4
{
	z-index: 57;
	width: 210px;
	min-height: 27px;
	color: #FFFFFF;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
}

#u102
{
	z-index: 61;
	width: 179px;
	min-height: 21px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 14px;
}

#u116
{
	z-index: 79;
	width: 197px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 7px;
}

#u117
{
	z-index: 80;
	width: 195px;
	border-width: 1px;
	border-style: solid;
	border-color: #898989;
	background-color: #79A717;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u118-4
{
	z-index: 81;
	width: 186px;
	min-height: 35px;
	color: #FFFFFF;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#u100
{
	z-index: 40;
	width: 210px;
	position: relative;
	margin-right: -10000px;
}

#u88
{
	z-index: 41;
	width: 210px;
	border-color: #000000;
	background-color: #0FBACA;
	padding-bottom: 89px;
	position: relative;
	margin-right: -10000px;
}

#u96-4
{
	z-index: 42;
	width: 210px;
	min-height: 90px;
	line-height: 84px;
	color: #FFFFFF;
	text-align: center;
	font-size: 70px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u97-4
{
	z-index: 46;
	width: 210px;
	min-height: 27px;
	color: #FFFFFF;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
}

#u98
{
	z-index: 50;
	width: 179px;
	min-height: 21px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 14px;
}

#u107
{
	z-index: 62;
	width: 210px;
	position: relative;
	margin-right: -10000px;
	left: 451px;
}

#u111
{
	z-index: 63;
	width: 210px;
	border-color: #000000;
	background-color: #0FBACA;
	padding-bottom: 89px;
	position: relative;
	margin-right: -10000px;
}

#u105:hover,#u88:hover,#u111:hover
{
	-pie-box-shadow: 0px 0px 8px 2px #C5EFEF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(32, 195, 195, 0.26);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(32, 195, 195, 0.26);
	box-shadow: 0px 0px 8px 2px rgba(32, 195, 195, 0.26);
	background-color: #12C6D7;
	margin: 0px -10000px 0px 0px;
}

#u110-4
{
	z-index: 64;
	width: 210px;
	min-height: 90px;
	line-height: 84px;
	color: #FFFFFF;
	text-align: center;
	font-size: 70px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u112-4
{
	z-index: 68;
	width: 210px;
	min-height: 27px;
	color: #FFFFFF;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
}

#u108
{
	z-index: 72;
	width: 179px;
	min-height: 21px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 14px;
}

#u113
{
	z-index: 73;
	width: 197px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 6px;
}

#u115
{
	z-index: 74;
	width: 195px;
	border-width: 1px;
	border-style: solid;
	border-color: #898989;
	background-color: #79A717;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u114-4
{
	z-index: 75;
	width: 186px;
	min-height: 35px;
	color: #FFFFFF;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#u119
{
	z-index: 85;
	width: 197px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 458px;
}

#u120
{
	z-index: 86;
	width: 195px;
	border-width: 1px;
	border-style: solid;
	border-color: #898989;
	background-color: #79A717;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u117:hover,#u115:hover,#u120:hover
{
	background-color: #6B970D;
	width: 195px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u121-4
{
	z-index: 87;
	width: 186px;
	min-height: 35px;
	color: #FFFFFF;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#u124
{
	z-index: 92;
	width: 700px;
	height: 87px;
	border-color: #000000;
	top: -335px;
	margin-bottom: -87px;
	position: relative;
	background: #E7E7E7 url("../images/728.jpg") no-repeat left top;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

